@import "_variables.scss";

.sponser {
    width: 100%;
    height: 25vh;
    background-color: #fbf6ff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .color {
        color: $--color-accent;
    }
}
